<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBrR4Y9c7mGQWbcMpkQ2JweZwtaMQ8gZ5M</string>
	<key>GCM_SENDER_ID</key>
	<string>890964893610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.health.app</string>
	<key>PROJECT_ID</key>
	<string>health-7236d</string>
	<key>STORAGE_BUCKET</key>
	<string>health-7236d.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890964893610:ios:3b6f36d90e88e04b1455d3</string>
</dict>
</plist>